/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --back-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --page-title-color: #db00ff;
  --shadow-color: #ff0070;
  --section-color: #ff0070;
  --article-title-color: #000028;
  --article-title-back-color: #ff0070;
  --corner-color: #ff0070;
  --rec-color: #ff0070;
  --text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png) no-repeat center/ cover;
}