/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --back-color: #fff1f7;
  --hover-color: rgba(50, 49, 45, 0.4);
  --page-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --section-color: #353430;
  --article-title-color: #353430;
  --article-title-back-color: #ff8dcb;
  --corner-color: #353430;
  --rec-color: transparent;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png) no-repeat center / cover;
}

@media (prefers-color-scheme: light) {
  :root {
    --back-color: #fff1f7;
    --hover-color: rgba(50, 49, 45, 0.4);
    --page-title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --section-color: #353430;
    --article-title-color: #353430;
    --article-title-back-color: #ff8dcb;
    --corner-color: #353430;
    --rec-color: transparent;
    --text-color: #353430;
    --background-image: url(../images/cover-image-light.png) no-repeat center / cover;
  }
}