/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



:root .theme_light{
      
    background: url(../images/cover-image-light.png) no-repeat center / cover;
    --back_color:  #FFF1f7;
    --h1-color: #FFC2E6;
    --shadow-color:#FF8DCB;
    --h3-color:#353430;
    --h2_4_5-color:#353430;
    --h2_4_5_back-color:#FF8DCB;
    --corner-color:#353430;
    --rec-color:transparent;
    --p_color:#353430;
   
 
}


@media (prefers-color-scheme: light) {


  :root .theme_auto{
    background: url(../images/cover-image-light.png) no-repeat center / cover;
    --color_gray:#353430;
    --back_color:  #FFF1f7;
    --h1-color: #FFC2E6;
    --shadow-color:#FF8DCB;
    --h3-color:var(--color_gray);
    --h2_4_5-color:var(--color_gray);
    --h2_4_5_back-color:#FF8DCB;
    --corner-color:var(--color_gray);
    --rec-color:transparent;
    --p_color:var(--color_gray);
   
  }
} 
 



