/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*  https://app.pachca.com/chats?thread_id=3430858&sidebar_message=201832182  */

.page {
  font-family: var(--font-family);

  background: url(../images/cover-image-dark.png) no-repeat center/ cover;
  background-color: var(--back_color);
  background-attachment: fixed;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 667px;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--shadow-color);
  border-left: 1px solid var(--shadow-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--shadow-color);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  /*aria-hidden:"true";*/
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-bottom: 2px;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--shadow-color);
  background-color: var(--shadow-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98px;
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  border: 1px solid transparent;
  padding-top: 1px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 12px;
  color: var(--shadow-color);

  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--shadow-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--shadow-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--shadow-color);
  pointer-events: none;
}

.h1_h2_style {
  color: var(--heading-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82%;
  text-shadow: 4px 4px var(--shadow-color);
}

.header_h2 {
  justify-self: center;
  align-self: center;

  color: var(--back_color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  background-color: var(--shadow-color);
}

.main {
  margin: 40px 10px;
  padding: 0 0;
}

a {
  text-decoration: none;

  text-shadow: 2px 1px var(--shadow-color);
}

a:hover {
  border-bottom: 1px solid var(--p_color);
}

a:focus-visible {
  outline: 1px solid var(--p_color);
  /* outline-offset: -5px; */
}

.article {
  margin-bottom: 50px;
}

.article:last-child {
  margin-bottom: 40px;
}

.article_h3 {
  margin-bottom: 20px;

  color: var(--shadow-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.article_h4 {
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.article_h5 {
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.article_p {
  margin-bottom: 19.8px;

  color: var(--p_color);

  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.image {
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 5.5px; */
}

.image_grid {
  display: grid;
  /* grid-template-rows: repeat(5, auto); */
  gap: 10px;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;
  padding: 10px;
  grid-template: 1fr/ 1fr;
}

.footer_shadow {
  text-shadow: 2px 2px var(--shadow-color);
}



 /* 768 x 1024 ============================================================= */



@media (768px <= width ) {
 



  .main {
    margin: 40px 20px;
    padding: 0 0;
  }
  

  .h1_h2_style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .article {
    margin-bottom: 80px;
}


.article:last-child {
  margin-bottom: 60px;
}






/*  ================    fourth article   ====================   */

.image_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}

.image {
 height: 100%;
 }

.f_art_h4{
  margin-bottom: 20px;
 }

.f_article_1{
  grid-column: span 2;
}

.f_article_2{
  grid-row: span 2;
}

.f_article_3{
  grid-row: 2/ span 2;
  }


.f_article_5{
  grid-column: span 2;
}









}

@media (768px <= width < 1024px) {
 

 

  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;

    grid-template-areas:
      "A A"
      "B B"
      "C D";
    height: 100vh;

    padding: 20px;
  }

  .header__theme-menu {
    grid-area: A;
  }

  .h1_h2_grid {
    grid-area: B;
    margin-left: -20px;
  }

  .header_h2 {
    grid-area: D;
  }


/*  ================    first article   ====================    */

  .first_article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "A B"
      "A C"
      "A D"
      "A E";
      gap:10px;
  }

  .f_article_h3 {
    grid-area: A;
    margin: 20px 10px 0px 0px;
  }

  .f_article_h4_1 {
    grid-area: B;
    margin: 20px 0px 0px 7px;
  }

  .f_article_p_1 {
    grid-area: C;
    margin: 0px 7px;
  }

  .f_article_h4_2 {
    grid-area: D;
    margin: 10px 0px 0px 7px;
  }

  .f_article_p_2 {
    grid-area: E;
    margin: 0px 7px;
  }


/*  ================    second article   ====================   */

  .second_article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "A B"
      "C C"
      "D D"
      "E E"
      "F F"
      "G G"
      "H H";

  }

  .s_article_h3{
    grid-area: A;
    margin: 0;
  }

  .s_article_h4_1{

    grid-area: C;
    margin: 19px 0px 10px 0px;
    
  }
  .s_article_p_1{

    grid-area: D;
    margin: 0;
  }

  .s_article_h4_2{

    grid-area: E;
    margin: 20px 0px 10px 0px;

  }
  .s_article_p_2{

    grid-area: F;
    margin: 0;
  }

  .s_article_h4_3{

    grid-area: G;
    margin: 20px 0px 10px 0px;
  }
  .s_article_p_3{

    grid-area: H;
    margin: 0;
  }


/*  ================    thrid article   ====================   */


.thrid_article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "A B"
    "A C"
    "A D"
    "A E"
    "A F"
    "A G"
    "A H"
    "A I"
    "A J"
    "A K"
    "A L";
  /* margin-right: 10px;
  margin-left: 10px; */
  

}

.t_article_h3{
  grid-area: A;
  margin: 0 0 0 0;
}


.t_article_h4_1{
  grid-area: B;
  margin: 0 0 0 13px;

}

.t_article_h5_1{

  grid-area: C;
  margin: 20px 0 10px 13px;
}
.t_article_p_1{
  grid-area: D;
  margin: 0 0 0 13px;
}
.t_article_h5_2{
  grid-area: E;
  margin: 20px 0 10px 13px;

}
.t_article_p_2{

  grid-area: F;
  margin: 0 0 0 13px;
}
.t_article_h5_3{

  grid-area: G;
  margin: 20px 0 10px 13px;
}
.t_article_p_3{
  grid-area: H;
  margin: 0 0 0 13px;
}

.t_article_h5_4{
  grid-area: I;
  margin: 20px 0 10px 13px;
}

.t_article_p_4{
  grid-area: J;
  margin: 0 0 0 13px;
}

.t_article_h5_5{
  grid-area: K;
  margin: 20px 0 10px 13px;
}

.t_article_p_5{
  grid-area: L;
  margin: 0 0 0 13px;
}





}


/* 1024 x 768 ============================================================= */



@media (1024px <= width) {
 
  

    /* Надо править шапку */

  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;

    grid-template-areas:
      "A A"
      "B B"
      "C D";
    height: 100vh;

    padding: 20px;
  }

  .header__theme-menu {
    grid-area: A;
  }

  .h1_h2_grid {
    grid-area: B;
    margin-left: -20px;
  }

  .header_h2 {
    grid-area: D;
  }

  /* =============================================== */










/*  ================    first article   ====================    */

.first_article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "A B"
    "A C"
    "A D"
    "A E";
    gap:10px;
}

.f_article_h3 {
  grid-area: A;
  margin: 20px 10px 0 0;
}

.f_article_h4_1 {
  grid-area: B;
  margin: 20px 0px 0px 0px;
}

.f_article_p_1 {
  grid-area: C;
  margin: 0px 0;
}

.f_article_h4_2 {
  grid-area: D;
  margin: 10px 0px 0px 0;
}

.f_article_p_2 {
  grid-area: E;
  margin: 0px 0;
}




/*  ================    second article   ====================   */

.second_article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "A L L"
    "B C D"
    "E F G"
;
  column-gap:20px;


}


.s_article_h3{
  grid-area: A ;
  margin: 0 0px 0 0px;
}

.s_article_h4_1{

  grid-area: B;
  margin: 20px 0px 10px 0px;
  
}
.s_article_p_1{

  grid-area: E;
  margin: 0px 0px 0 0px;
}

.s_article_h4_2{

  grid-area: C;
  margin: 20px 0px 10px 0px;

}
.s_article_p_2{

  grid-area: F;
  margin: 0px 0px 0 0px;
}

.s_article_h4_3{

  grid-area: D;
  margin: 20px 0px 10px 0px;
}
.s_article_p_3{

  grid-area: G;
  margin: 0px 0px 0 0px;
}


/*  ================    thrid article   ====================   */


.thrid_article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "A B"
    "A C"
    "A D"
    "A E"
    "A F"
    "A G"
    "A H"
    "A I"
    "A J"
    "A K"
    "A L";
     column-gap:10px;

}

.t_article_h3{
  grid-area: A;
  margin: 0 0 0 0;
}


.t_article_h4_1{
  grid-area: B;
  margin: 0 0 0 0;

}

.t_article_h5_1{

  grid-area: C;
  margin: 20px 0 10px 0;
}
.t_article_p_1{
  grid-area: D;
  margin: 0 0 0 0;
}
.t_article_h5_2{
  grid-area: E;
  margin: 20px 0 10px 0;

}
.t_article_p_2{

  grid-area: F;
  margin: 0 0 0 0;
}
.t_article_h5_3{

  grid-area: G;
  margin: 20px 0 10px 0;
}
.t_article_p_3{
  grid-area: H;
  margin: 0 0 0 0;
}

.t_article_h5_4{
  grid-area: I;
  margin: 20px 0 10px 0;
}

.t_article_p_4{
  grid-area: J;
  margin: 0 0 0 0;
}

.t_article_h5_5{
  grid-area: K;
  margin: 20px 0 10px 0;
}

.t_article_p_5{
  grid-area: L;
  margin: 0 0 0 0;
}











}

