/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  

  --color_black:#000028;
  --color_red:#FF0070;
  --back_color:  var(--color_black);
  --h1-color: #DB00FF;
  --shadow-color:var(--color_red);
  --h3-color:var(--color_red);
  --h2_4_5-color: var(--color_black);
  --h2_4_5_back-color:var(--color_red);
  --corner-color:var(--color_red);
  --rec-color:var(--color_red);
  --p_color:#F1B2CE;
  --font-family: "IBM Plex mono", sans-serif;

}

